@charset "UTF-8";

/* wrap */
#wrap {position: relative;}

/* common css */
.wheelBox {width: 100%; height: 100%;}
.center {position: relative; width: 100%; max-width: 1320px; height: 100vh; margin: 0 auto; padding: 0 20px;}

/* common side menu */
.common {position: fixed; left: 50%; transform: translate(-50%, -50%); top: 50%; width: 100%; max-width: 1320px; margin: 0 auto; padding: 0 20px;}
.navi_box {display: flex; justify-content: flex-end; width: 80px; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}
.side_menu {font-size: 16px; font-weight: bold; line-height: 45px; text-align: center; color: #999;}
.side_menu .icon {width: 22px; fill: #999;}
.side_menu .fill {fill : #111;}
.side_menu .on {color : #333;}

.side_menu li:hover .icon {fill: #111;}
.side_menu li:hover {color: #333;}

/* iframe layer popup */
.layer_pop {position: fixed; top: 0; left: 0; background: rgba(0,0,0,.75); width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; z-index: 2;}

.layer_content {display: flex; justify-content: center; align-items: center; width: 40%; height: 75%;}
.layer_text h1 {font-size: 50px; color: #fff; line-height: 60px;}
.layer_text p {margin-bottom: 35px; font-size: 24px; color: #fff;}
.layer_text button {padding: 12px 25px; margin-right: 10px; border-radius: 15px; border: 1px solid #fff; background: transparent; font-size: 16px; color: #fff;}
.layer_text button:hover {color: #ffb734;}
.la_line {width: 70%; height: 1px; background: #fff; margin: 20px 0;}

.layer_box {width: 40%; height: 75%; background: #fff; position: relative; overflow: hidden;}
.iframe {position: absolute; width: 100%; height: 100%; overflow-y: hidden; display: none;}

/* borwser layer popup */
.browser_layer {position: fixed; top: 0; left: 0; background: rgba(0,0,0,.8); width: 100%; height: 100vh; display: none; justify-content: center; align-items: center; z-index: 2;}

.browser_content {width: 70%; height: 80%; background: url(../img/whiteBg.png) no-repeat center / cover; border-radius: 25px; display: flex; justify-content: center; align-items: center;}
.browser_text {text-align: center;}
.browser_text strong {display: block; font-weight: bold; font-size: 36px; padding-bottom: 20px;}
.browser_text strong span {letter-spacing: -0.03em;}
.browser_text em {display: block; font-size: 20px; line-height: 35px; color: #444;}
.browser_text em span {color: #fa5f54; font-weight: 500;}
.browser_text button {padding: 14px 45px; margin-top: 35px; background: #dfdfdf; border: none; color: #444; font-size: 16px;}

/* [header] */
#header {position: relative; width: 100%; height: 100vh; background: url(../img/whiteBg.png) no-repeat center / cover; background-attachment: fixed;}

/* header > header top */
.he_top {position: relative; display: flex; justify-content: space-between; padding-top:40px; font-size: 24px; color: #333; z-index: 1;}
.logo > strong {letter-spacing: -0.03em;}
.he_mail a:link {color: #333;}
.he_mail:hover {animation: scale 1s linear infinite;}

/* animation */
@keyframes scale { 
    0% {transform: scale(1);} 
    25% {transform: scale(1.2);} 
    50% {transform: scale(1.5);} 
    75% {transform: scale(1.2);} 
    100% {transform: scale(1);} 
}

/* header > header box */
.he_box {width: 100%; position: absolute; top: 0; display: flex; height: 100vh; justify-content: center; align-items: center;}

.title_box {width: 45%; padding-left: 5%;}
.title_box h1 {font-size: 78px; line-height: 88px; color: #111;}
.title_box h3 {opacity: 0; padding-top: 10px; font-size: 22px; color: #555; letter-spacing: -0.03em;}
.title_box p {opacity: 0; width: 85%; font-size: 18px; color: #666; line-height: 30px;}
.title_box span {color: #444; font-weight: 600; font-size: 19px;}
.title_box .line {width: 0%; background: #777; height: 1px; margin: 16px 0;}
.title_box .on {display: inline-block; animation: cursor 0.3s infinite;} 

/* animation */
@keyframes cursor { 
    0% {border-right: 1px solid #fff} 
    50% {border-right: 1px solid #000} 
    100% {border-right: 1px solid #fff} 
}

.img_box {width: 0%; height: 100vh;}
.img_box .he_img {position: relative; width: 75%; height: 80%; background: url(../img/headerImg.jpg) no-repeat center / cover;}
.img_box .line_box {width: 90%; height: 92%; border: 1px solid transparent; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

/* header > mouse icon */
.mouse_icon {opacity: 0; position: absolute; bottom: 5.5%; left: 50%; transform: translateX(-50%); display: flex; flex-wrap: wrap; justify-content: center;}
.mouse_icon p {width: 100%; padding: 2px 0; font-size: 12px; color: #666; text-align: center;}
.mouse {width: 25px; margin-bottom: 0; animation: upDown 0.4s linear 0s infinite alternate;}

/* animation */
@keyframes upDown { 
    0% {margin-bottom: 0;}
    100% {margin-bottom: -5px;}
}

/* [section1] */
#section1 h2 {opacity: 0; padding: 65px 0; font-size: 42px; text-align: center; color: #111; letter-spacing: -0.03em;}

/* section1 > about style */
.ab_style {opacity: 0; position: absolute; left: 32.5%; top: 50%; display: flex; justify-content: center; align-items: center;}
.ab_style .ab_line {width: 100px; height: 1px; background: #999;}
.ab_style span {margin: 0 15px; font-size: 38px; font-weight: 700; color: transparent; -webkit-text-stroke: 1px #888;}
.ab_style_ani {animation: rotate 1s forwards;}

/* animation */
@keyframes rotate { 
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-90deg);}
}

/* section1 > about content */
.ab_content {opacity: 0; display: flex; justify-content: center; align-items: center;}

.ab_left {width: 50%; display: flex; justify-content: flex-end; flex-wrap: wrap; padding-right: 100px;}

.ab_img_box {width: 55%; display: flex; flex-wrap: wrap; justify-content: center;}
.ab_img_box img {width: 100%;}
.ab_img_box p {padding-top: 15px; font-size: 16px; color: #444; line-height: 24px;}
.ab_img_box button {padding: 10px 20px; border: 1px solid #333; border-radius: 10px; background: none; margin-top: 24px; font-size: 15px; color: #333; font-weight: 500;}
.ab_img_box button:hover {color: #ffb734; border-color: #ffb734;}

.ab_right {width: 50%; position: relative;}

.ab_list_box {opacity: 0; position: absolute; top: 0; left: 0;}
.ab_list {padding: 0 0 5px 100px;}
.ab_list:last-child {padding-bottom: 0;}
.ab_list p {font-size: 16px; color: #555; padding-bottom: 10px;}
.ab_list_box .ab_list .han {letter-spacing: -0.03em; font-weight: 500;}
.ab_list:last-child p:last-child {padding-bottom: 0;}
.ab_list:nth-child(1) span, .ab_list:nth-child(2) span {padding-left: 10px;}

.ab_title {display: flex; align-items: center; padding-bottom: 15px;}
.ab_title .check {width: 30px;}
.ab_title strong {font-size: 28px; color: #333; letter-spacing: -0.03em; padding-left: 3px;}

.ab_self .ab_title strong {font-weight: 600; letter-spacing: -0.1em;}
.ab_self .ab_list p {font-size: 18px; letter-spacing: -0.03em; line-height: 30px;}
.ab_self .ab_list span {color: #333; padding: 0; font-weight: 500;}
.ab_self .ab_list .eng {letter-spacing: -0.03em;}

/* [section2] */
#section2 {border-top: 1px solid #999;}
#section2 h2 {padding-top: 70px; font-size: 42px; color: #111; letter-spacing: -0.03em;}
#section2 p {margin-top: -5px; font-size: 16px; color: #444;}

/* section2 > skills content */
.sk_content {width: 100%; display: flex; justify-content: center; flex-wrap: wrap; padding-top: 60px;}

.sk_box {width: 30%; display: flex; justify-content: center; align-items: center;}
.sk_box:nth-child(4), .sk_box:nth-child(5), .sk_box:nth-child(6) {padding-top: 50px;}

.sk_left {width: 40%; padding: 30px;}
.sk_left .mark {width: 100%;}

.sk_right {width: 60%; padding-left: 10px;}
.sk_right strong {font-size: 34px; color: #333;}
.sk_right .sk_graph {position: relative; width: 48%; height: 10px; background: #C4C4C4; margin: 5px 0 15px;}
.sk_right .sk_percent {position: absolute; height: 100%; background: #555;}
.sk_right p {font-size: 18px; color: #555;}

.per_html {width: 0%;}
.per_css {width: 0%;}
.per_js {width: 0%;}
.per_php {width: 0%;}
.per_psd {width: 0%;}
.per_ai {width: 0%;}

/* [section3] */
#section3 {background: url(../img/whiteBg.png) no-repeat center / cover; background-attachment: fixed;}
#section3 .center {display: flex; justify-content: center; align-items: center;}

/* section3 > project style */
.pr_style {position: absolute; right: 4%; top: 17%; display: flex; justify-content: center; align-items: center;}
.pr_style .pr_line {width: 100px; height: 1px; background: #999;}
.pr_style span {margin: 0 15px; font-size: 38px; font-weight: 700; color: transparent; -webkit-text-stroke: 1px #888;}
.pr_style_ani {animation: rotate2 1s forwards;}

/* animation */
@keyframes rotate2 { 
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-90deg);}
}

/* section3 > project content */
#section3 {position: relative;}

.page_box {display: flex; justify-content: center; align-items: center; position: absolute; top: 0; left: 50%; transform: translateX(-50%); opacity: 0;}
.page {width: 65px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.pa_line {height: 20px; width: 1px; background: #999;}
.page p {width: 100%; padding: 8px 0; text-align: center; font-size: 16px; font-weight: bold; color: #999;}
.pa_on .pa_line {background: #333;}
.pa_on p {color: #333;}

#section3 .center {overflow: hidden;}
.pr_content {width: 100%; display: none; opacity: 0; justify-content: center; align-items: center; flex-wrap: wrap;}
.page1 {display: flex; opacity: 1;}

.pr_left {width: 30%; padding-left: 15px;}

.pr_title p {padding-bottom: 10px; font-size: 16px; font-weight: bold; color: #444; letter-spacing: -0.03em;}
.pr_title strong {display: block; font-size: 56px; color: #111; line-height: 68px; letter-spacing: -0.03em;}

.pr_hash {display: flex; padding: 18px 0 22px;}
.pr_hash .hash{padding: 6px 15px; margin-right: 8px; border: 1px solid #333; color: #333; letter-spacing: -0.03em;}

.pr_text p {font-size: 16px; color: #444; line-height: 28px;}
.pr_text p > span {font-family: 'Noto Sans', sans-serif; letter-spacing: 0;}

.pr_right {position: relative; width: 70%;}
.pr_click {position: absolute; width: 100%; height: 85%; display: flex; align-items: center; margin-top: 2.5%;}
.pr_click .pr_pre, .pr_click .pr_next {width: 45%; height: 85%; display: flex; justify-content: center; align-items: center;}
.circle_bt {width: 180px; height: 180px; border-radius: 100%; display: flex; justify-content: center; align-items: center; background: #ffb734; opacity: 0; transition: .3s;}
.circle_bt p {color: #fff; font-size: 40px; font-weight: bold;}
.pr_pre:hover .circle_bt, .pr_next:hover .circle_bt {opacity: 1;}

.pr_right img {margin-left: 100%;}
.pr_page_bt {opacity: 0; position: absolute; bottom: 12%; left: 50%; transform: translateX(-50%); display: flex;}
.pr_page_bt button {padding: 7px 35px; margin: 0 12px; border: 1px solid #333; border-radius: 5px; background: transparent; color: #333; font-weight: bold;}
.pr_page_bt button:hover {color: #ffb734;}
.pr_img_text {opacity: 0; position: absolute; bottom: 27%; left: 34%; color: #666;}

/* [section4] */
#section4 h2 {opacity: 0; padding-top: 60px; font-size: 42px; text-align: center; color: #111; letter-spacing: -0.03em;}
#section4 .sa_text {opacity: 0; padding: 15px 0 30px; font-size: 16px; text-align: center; color: #444; letter-spacing: -0.03em;}

/* section4 > script/animation content */
.sa_content {opacity: 0; width: 90%; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; background: url(../img/wall.png); background-attachment: fixed;}

.sa_box {position: relative; width: 33%; height: 30vh; display: flex; justify-content: center; align-items: center; border: 1px solid #fff;}
.sa_title {width: 75%;}
.sa_title p {font-weight: 500; font-size: 36px; color: #444;}
.sa_title p:nth-child(1):after {content: ""; display: block; width: 45px; border-bottom: 3px solid #fff; margin: 2px 0;}
.sa_title p:nth-child(2) {line-height: 40px; letter-spacing: -0.03em; text-align: right; padding-top: 20px;}

.link_box {position: absolute; display: flex; width: 100%; top: 0; left: 0; height: 100%; justify-content: center; align-items: center; background: rgba(0,0,0,.4); opacity: 0; transition: .3s;}
.link_box:hover {opacity: 1;} 
.sa_circle {width: 100px; height: 100px; border-radius: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #fff;}
.sa_circle p {font-size: 24px; font-weight: 500; color: #fff;}

/* [section5] */
#section5 {border-top: 1px solid #999;}
#section5 .center {overflow: hidden;}
.re_title h2 {padding-top: 80px; font-size: 42px; color: #111; letter-spacing: -0.03em;}
.re_title p {margin-top: -5px; font-size: 16px; color: #444;}

/* section5 > project style */
.re_style {position: absolute; right: -100%; bottom: 10%; display: flex; justify-content: center; align-items: center;}
.re_style .re_line {width: 100px; height: 1px; background: #999;}
.re_style span {margin: 0 15px; font-size: 38px; font-weight: 700; color: transparent; -webkit-text-stroke: 1px #888;}

/* section5 > resume content */
.re_content {position: relative; width: 80%; height: 60vh; display: flex; justify-content: space-between; align-items: center; margin: 0 auto;}

.re_box {position: relative;}
.re_circle {width: 25px; height: 25px; background: #C4C4C4; border-radius: 100%;}
.re_text {opacity: 0; position: absolute; width: 150px; text-align: center; left: 50%; transform: translateX(-50%); padding-top: 10px;}
.re_box:nth-child(2n) .re_text{bottom: 150%;}
.re_text strong {font-size: 32px; color: #999;}
.re_text p {font-size: 18px; color: #444;}

.re_ceText {width: 300px; padding-top: 60px;}
.re_ceText strong {opacity: 0; font-weight: bold; color: #333; font-size: 26px;}
.re_ceText p {opacity: 0; font-size: 16px; color: #666; padding-top: 3px;}

.document {opacity: 0; width: 110px; z-index: 1; position: absolute; left: 50%; top: 35%; transform: translateX(-50%);}
.document .doc0{fill:#FFB734;}
.document .doc1{fill:#FFFFFF;}
.document:hover .doc0 {fill: #ffd487;}

.center_line {position: absolute; top: 50%; left: 0%; transform: translateY(-50%); width: 0%; height: 1px; background: #C4C4C4;}
.document_ani {animation: upDown2 0.4s linear 0s infinite alternate;}

/* animation */
@keyframes upDown2 { 
    0% {margin-top: 0;}
    100% {margin-top: -5px;}
}

/* [footer] */
#footer {background: url(../img/whiteBg.png) no-repeat center / cover; background-attachment: fixed;}
#footer .center {display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}

.fo_top {width: 100%; height: 10vh; display: flex; align-items: center;}
.fo_top li {font-size: 16px; width: 100px; color: #333; font-weight: bold; letter-spacing: -0.03em;}
.fo_top li:hover {color: #ffb734;}

.fo_contact {width: 100%; height: 80vh; display: flex; justify-content: center; align-items: center;}
.fo_circle {opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; height: 500px; background: red; border-radius: 100%; background: url(../img/circleBack.png) no-repeat center / cover; }
.circle_ani {animation: circleRotate 2s linear forwards;}

/* animation */
@keyframes circleRotate {
    0% {transform: translate(-50%, -50%) rotate(0);}
    25% {transform: translate(-50%, -50%) rotate(90deg);}
    50% {transform: translate(-50%, -50%) rotate(180deg);}
    75% {transform: translate(-50%, -50%) rotate(270deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.fo_content {z-index: 1; text-align: center;}
.fo_content p {opacity: 0; font-size: 24px; font-weight: bold; color: #555; }
.fo_content .han {padding-top: 25px; font-size: 16px; font-weight: normal;  color: #444;}
.fo_content strong {opacity: 0; font-size: 80px; font-weight: bold; font-style: italic; color: #333; letter-spacing: -0.03em;}
.fo_content strong:hover {color: #ffb734; -webkit-text-stroke: 1px #fff; animation: fontScale .5s linear forwards;}

/* animation */
@keyframes fontScale { 
    0% {font-size: 80px;} 
    100% {font-size: 85px;} 
}

.fo_bottom {width: 100%; height: 10vh; display: flex; justify-content: space-between; align-items: center;}
.fo_bottom p {font-size: 16px; font-weight: bold; color: #333; letter-spacing: -0.03em;}
.end_logo:hover {color: #ffb734;}